:host {
  display: block;
  height: calc(100vh - 80px);
}

.pf-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #050014;
}

.pf-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
